
$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    laptop:  980px,
    wide:    1300px,
    high-res: 1600px
);

$mq-show-breakpoints: (mobile, tablet, laptop, wide);

@import "node_modules/sass-mq/mq"
