$element-margin-bottom: 50px;
$element-margin-bottom-wide: 60px;

$section-margin-bottom: 100px;
$within-element-margin-bottom: 20px;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 10px;
  font-family: $main-font;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0px;
  -webkit-perspective: 0px;
}

a {
  text-decoration: none;
}

.section {
  margin-bottom: $section-margin-bottom;
  margin-top: $element-margin-bottom;
}

.page-wrapper {
  padding-top: $section-margin-bottom;
}

.within-section {
  margin-bottom: $within-element-margin-bottom;
}

.within-section-large {
  padding-bottom: $section-margin-bottom;

  @include mq($until: largeMobile) {
    padding-bottom: $within-element-margin-bottom;
  }
}

.close-page {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 20px;
  z-index: 2;
  cursor: pointer;
  @include mq($from: laptop) {
    top: 25px;
    left: 25px;
    font-size: 35px;
  }
}

.close-page--text {
  position: fixed;
  top: 40px;
  left: 10px;
  font-size: 20px;
  z-index: 2;

  @include mq($from: laptop) {
    top: 40px;
    left: 10px;
  }
}
.element__wrapper {
  padding-left: 10vw;
  padding-top: 10vh;
  width: 80%;
  padding-right: 10vw;
}

.block {
  margin-left: 10%;
  margin-right: 10%;
}

.padding-block {
  padding-left: 10%;
  padding-right: 10%;
}

.first-element {
  padding-top: 10px;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.text-block__rule {
  margin-bottom: 20px;
  width: 100px;
}

.page-stripes {
  &__one {
    position: fixed;
    width: 1px;
    height: 60%;
    background: rgba(0, 0, 0, 0.2);
    left: 25%;
  }

  &__two {
    position: fixed;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    left: 50%;
  }

  &__three {
    position: fixed;
    width: 1px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    left: 75%;
  }
}

.guide-down {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
  font-size: 20px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.pink-background {
  background-color: $pink;
}

.black-background {
  background-color: black;
}

.azur-background {
  background-color: $azur;
}

.red-background {
  background-color: $red;
}

.dark-yellow-background {
  background-color: $dark-yellow;
}

.hidden {
  display: none !important;
}

.skewed-img-left {
  transform: skewX(10deg) !important;
}

.btn {
  display: block;
  padding: 24px 48px;
  font-family: $main-font;
  font-size: 1.2rem;
  letter-spacing: 6px;
  color: $white;
  border: 2px solid $white;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: crosshair;
  transition: 0.6s ease-out;

  &--small {
    padding: 15px 23px;
  }

  &:hover {
    color: black;
    cursor: crosshair;
  }

  &:before {
    content: "";
    position: absolute;
    background: $white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.6s ease-out;
  }

  &:hover:before {
    top: 0;
  }
}
