// colors

$pink: #f33766;
$white: white;
$black: black;
$smooth-black: #101010;
$dark-yellow: #fdb72c;
$light-yellow: #fffaa3;
$azur: #72ccbc;
$light-blue: #567ff8;
$red: #e50814;
$dark-blue: #004976;
$text-grey: #808080;
$background-grey: #f4f4f1;
$text-field-grey: #b3b3b3;
$navigation-text: #fff;
$smooth-yellow: blanchedalmond;

$main-color: black;
$white: white;

$main-background-color: white;
$secondary-background-color: grey;
$third-background-color: black;
