// colors

$pink: #F33766;
$white: white;
$black: black;
$smooth-black: #101010;
$dark-yellow: #FDB72C;
$light-yellow: #fffaa3;
$azur:  #72CCBC;
$light-blue: #567FF8;
$red: #E50814;
$dark-blue: #004976;
$text-grey: rgb(128, 128, 128);
$background-grey: #F4F4F1;
$text-field-grey: #b3b3b3;
$navigation-text: #fff;

$main-color: black;
$white: white;

$main-background-color: white;
$secondary-background-color: grey;
$third-background-color: black;
