
$main-font: 'Poppins';


$small-text: 1.7rem;
$small-title: 3rem;
$large-title: 4rem;
$horizontal-large-title: 6rem;
$thin-text: 400;
$bold-text: 700;
// $mid-size;

.header {
  font-family: $main-font, sans-serif;
  font-size: $small-title;
}
.text-underline {
  background-repeat: no-repeat;
  background-position: 0 120%;
  background-size: 80% 50%;
  color: initial;
  text-decoration: none;
}

.text-red {
  color: $red;
}
.text-white {
  color: white;
}


.text-pink {
  color: $pink;
}
.text-yellow {
  color: $dark-yellow;
}
.text-azur {
  color: $azur;
}
.text-dark-blue {
  color: $dark-blue;
}
.text-light-blue {
  color: $light-blue;
}

.text-grey {
  color: $text-grey
}

.text-underline-yellow {
  background-image: linear-gradient(to right, $light-yellow, $light-yellow);
}

.text-underline-azur {
  background-image: linear-gradient(to right, rgba(114, 204, 188,0.5), rgba(114, 204, 188, 0.5));
}
.text-underline-dark-blue {
  background-image: linear-gradient(to right, rgba(0, 73, 118, 0.5), rgba(0, 73, 118, 0.5));
}
.text-underline-light-blue {
  background-image: linear-gradient(to right, rgba(86, 127, 248, 0.5), rgba(86, 127, 248, 0.5));
}

